:root {
    --input-border-default: var(--slate-4);
    --input-background-default: var(--background-light);
    --input-focus-border-default: var(--brand-1);
    --input-color-error: var(--danger-2);
    --input-background-error: var(--danger-4);
    --input-border-error: var(--danger);
    --input-hover-border-error: var(--danger-2);
    --input-focus-error: var(--danger-3);
}