:root {
    // Grayscale
    --light: #FFFFFF;
    --slate-0: #f8f9fa;
    --slate-1: #f1f3f5;
    --slate-2: #e9ecef;
    --slate-3: #dee2e6;
    --slate-4: #ced4da;
    --slate-5: #adb5bd;
    --slate-6: #6d7882;
    --slate-7: #495057;
    --slate-8: #212529;

    // Brand
    --brand-1: #4263EB;
    --brand-2: #364FC7;
    --brand-3: #BAC8FF;
    --brand-4: #EDF2FF;

    --success-1: #0ca678;
    --success-2: #087f5b;

    --danger-1: #E03131;
    --danger-2: #C92A2A;
    --danger-3: #FFC9C9;
    --danger-4: #FFF5F5;

    --warning-1: #fcc419;
    --warning-2: #f59f01;
}
