// Helper Class to hide text visually but keep it accessible for screen reader or other assistive software.
.visually-hidden {
  // Move the text out of the flow of the container.
  position: absolute;
  
  // Reduce its height and width to just one pixel.
  height: 1px;
  width: 1px;
  
  // Hide any overflowing elements or text.
  overflow: hidden;
  
  // Clip the box to zero pixels.
  clip: rect(0, 0, 0, 0);
  
  // Text won't wrap to a second line.
  white-space: nowrap;
}

@mixin row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.row { @include row; }