 :root {
     // Backgrounds
     --background-default: var(--slate-0);
     --background-light: var(--light);
     --background-disabled: var(--slate-1);

     // Borders
     --border-radius: 5px;
     --border-default: var(--slate-3);

     //  General
     --transition: all 200ms ease-in-out;
     --divider: var(--slate-2);
     --box-shadow: 0 4px 16px 0 RGBA(var(--slate-7), 0.1);
     --overlay: RGBA(var(--slate-7), 0.6);
     --focus-outline: var(--brand-3) solid 2px;
     --disabled-opacity: .6;
 }
