 :root {
     // Backgrounds
     --background-default: var(--slate-0);
     --background-light: var(--light);
     --background-disabled: var(--slate-1);

     // Borders
     --border-radius: 5px;
     --border-default: var(--slate-3);

     //  General
     --transition: all 200ms ease-in-out;
     --disabled-opacity: .6;
 }
