.errors {
    padding: 0.5rem 3rem;
    
    &--active { background-color: var(--danger-2); }

    &__item {
        @include row;

        margin: 0.5rem;
        padding: 0 1rem;
        justify-content: space-between;
        background-color: var(--danger-3);
        border-radius: var(--border-radius);
    }
}