.loader {
    margin: 0 auto;
    color: var(--brand-2);
    font-size: 1.5rem;
    font-weight: var(--font-weight-bold);
    overflow: hidden;
    white-space: nowrap;
    animation: expand 3s steps(60, end) infinite;

    &-container {
        display: flex;
        width: 15rem;
        justify-content: center;
        margin: 0 auto;
    }
}

@keyframes expand {
    from { width: 0 }
    to { width: 100% }
}