:root {
    --font-family: "Georgia", "Palatino", "Vervadna", "Times New Roman";
    --font-weight-normal: 400;
    --font-weight-bold: 600;
    --text-default: var(--slate-7);
    // font-size 16px means 1rem = 16px
    font-size: 16px;
}
